.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* ___________________________________ */
     
             /* RESPONSIVE - Mobile - width smaller than 420px */
      

@media screen and (max-width: 419px) {
  body {
    margin: 10px;
    text-align: center; 
  }

      /* ROW SECTION */

  .row {
    width: 100%;
    margin-top: 0;
    padding-bottom: 20px;
  }
 
  #lezioni .row > .left,
  #lezioni .row > .central,
  #lezioni .row > .right {
    display: block;
    float: none;
    width: 100%;
  }

  #lezioni .row .right img {
    padding-top: 20px;
  }

 /* STEPS SECTION */

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
  }

  #steps img {
    padding-top: 15px;
  }

      /* WHY SECTION */

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
     width: 100%;
     margin-top: 30px;
}

img {
  height: auto;
  width: 90px;
 
}

#why .row img {
  padding: 10px;
}

}



/* BONUS - Tablet - range 768px-1023px*/

@media screen and (min-width: 768px) and (max-width:1023px) {
  body {   
    margin: 10px;
    text-align: center;
  }
 
   /* ROW SECTION */

  .row {
    width: 100%;
    margin-top: 0;
    padding-bottom: 20px;
  }

  h1,
  h2,
  h3 {
    margin-top: 20px;
    padding-bottom: 25px;
  } 

  #lezioni .row>.left,
  #lezioni .row>.right {
  width: calc(100% / 2);
  float: left;
}

  /* STEPS SECTION */

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 33%;
  }


  /* WHY SECTION */

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
     width: 100%;
     margin-top: 40px;
     padding-bottom: 0;
    
}

 img {
   height: 190px;
} 
}
